.details {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: white;
  color: black;
  height: 37px;
  transition: height 1s, background-color 0.3s;
  overflow: hidden;

  &[open] {
    width: 100%;
    height: auto;
    background-color: #eeeeee80;

    .summary {
      margin-bottom: 1rem;
    }
  }
}
