@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scrollbar-width: thin;
  --color-lof: #7c4ba2;
  --color-lof-rgb: 124, 75, 162;
}

body {
  color: white;
  /* background-color: #0af553; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/fondo.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

main {
  max-width: 1024px;
  padding: 1rem;
  margin-inline: auto;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  border-radius: 4px;
  color: black;
  background-color: #eeeeee80;
  max-width: 768px;
  margin-inline: auto;
  width: 100%;
  margin-bottom: 2rem;

  h2 {
    text-align: center;
    font-weight: bold;
  }

  label {
    input {
      width: 100%;
      padding: 0.5rem;
      background-color: #eee;
      border-radius: 4px;

      &:disabled {
        cursor: not-allowed;
        background-color: light-dark(
          rgba(239, 239, 239, 0.3),
          rgba(59, 59, 59, 0.3)
        );
        color: light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
        border-color: rgba(118, 118, 118, 0.3);
      }
    }
  }

  select {
    width: 100%;
    padding: 0.5rem;
    background-color: #eee;
    border-radius: 4px;
  }

  button {
    align-self: center;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    background-color: var(--color-lof);
    color: white;
    transition: scale 0.3s;

    &:is(:hover, :focus-visible) {
      scale: 1.05;
    }

    &:active {
      translate: 0 2px;
    }

    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
