@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scrollbar-width: thin;
  --color-lof: #7c4ba2;
  --color-lof-rgb: 124, 75, 162;
  interpolate-size: allow-keywords;
}

body {
  color: white;
  /* background-color: #0af553; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/fondo.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 100dvh;
}

:disabled {
  pointer-events: none;
}

main {
  max-width: 1024px;
  padding: 1rem;
  margin-inline: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  color: black;
  background-color: #eeeeee80;
  width: 100%;
  max-width: 768px;
  margin-inline: auto;
  padding: 1rem;
  border-radius: 4px;

  h2 {
    font-weight: bold;
  }

  label {
    width: 100%;

    input {
      width: 100%;
      padding: 0.5rem;
      border-radius: 4px;
    }
  }

  select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
  }
}

button {
  position: relative;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  background-color: var(--color-lof);
  color: white;
  transition: scale 0.3s;

  &:is(:hover, :focus-visible) {
    scale: 1.05;
  }

  &:active {
    translate: 0 2px;
  }
}
