.container {
  overflow-x: auto;
  scrollbar-width: thin;
}

.table {
  text-align: center;
  width: 100%;
  border-radius: 4px;
}

.table_head {
  background-image: linear-gradient(to bottom, var(--color-lof), black);
}

/* .row {
  border-bottom: 1px solid var(--color-lof);
}

.row:last-child {
  border: none;
} */

.head_cell,
.body_cell {
  padding: 0.5rem 0.75rem;
}
