.container {
  overflow-x: auto;
  scrollbar-width: thin;
}

.table {
  text-align: center;
  width: 100%;
  /* background-color: #3f7550; */
  background-color: var(--color-lof);
  border-radius: 4px;
}

.row {
  /* border-bottom: 1px solid var(--color-lof); */
}

.row:last-child {
  border: none;
}

.head_cell,
.body_cell {
  padding: 0.5rem 0.75rem;
}
