.btn {
  border-radius: 4px;
  padding: 0.5rem;
  background-color: var(--color-lof);
  color: white;
  transition: scale 0.3s;

  &:is(:hover, :focus-visible) {
    scale: 1.05;
  }

  &:active {
    translate: 0 2px;
  }
}
