.summary_btn {
  border-radius: 4px;
  padding: 0.5rem;
  background-color: var(--color-lof);
  color: white;
  transition: scale 0.3s;
  list-style: none;
  cursor: pointer;

  &:is(:hover, :focus-visible) {
    scale: 1.05;
  }

  &:active {
    translate: 0 2px;
  }
}

.menu_link {
  padding: 0.5rem;
  border-radius: 4px;
  transition: 0.3s background-color;

  &:is(:hover, :focus-visible) {
    background-color: color-mix(
      in hsl shorter hue,
      var(--color-lof) 50%,
      black 50%
    );
  }

  &:active {
    opacity: 0.8;
  }
}

.goal_btn {
  padding: 0.5rem;
}

.players_list {
  position: absolute;
  z-index: 9999;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: white;
}

.item_players_list {
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s;
  cursor: pointer;

  &:is(:hover, :focus-visible) {
    background-color: #eee;
  }
}

.lastname {
  text-transform: uppercase;
  font-weight: bold;
}
